@media screen and (max-width: 1023px) {
  .expandDiv {
    left: 0%;
    width: 200px;
    top: 64px;
    // height: 100%;
    z-index: 20;
    animation: leftToRight 0.3s ease-in-out both;
  }
  .collapsedDiv {
    left: -100%;
    width: 200px;
    top: 64px;
    height: auto;
    animation: rightToLeft 0.3s ease-in-out both;
  }
}

.leftToRight {
  animation: leftToRight 0.3s ease-out;
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.rightToLeft {
  animation: rightToLeft 0.3s ease-out;
}

@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
// .mainWidth {
//   width: -webkit-fill-available;
//   width: -moz-available;
//   width: fill-available;
//   width: 100%;
// }
